Config (
    api: Some(
        ApiConfig (
            image: "sugarfunge.azurecr.io/api:latest",
            port: 4000,
            listen_url: "http://0.0.0.0:4000",
            node_url: "ws://sf-node:9944",
        )
    ),
    explorer: Some(
        ExplorerConfig (
            image: "sugarfunge.azurecr.io/explorer:latest",
            port: 80,
            ws_url: "wss://node.sugarfunge.dev",
        )
    ),
    ipfs: Some(
        IpfsConfig (
            image: "ipfs/go-ipfs:v0.13.0",
            swarm_tcp_port: 4001,
            swarm_udp_port: 4002,
            api_port: 5001,
            swarm_key: None,
        )
    ),
    keycloak: Some(
        KeycloakConfig (
            image: "quay.io/keycloak/keycloak:15.0.2",
            port: 8080,
            admin_username: "keycloak",
            admin_password: "keycloak",
            db_config: KeycloakDatabaseConfig (
                db_database: "keycloak",
                db_user: "keycloak",
                db_password: "keycloak",
                db_address: "sf-db-postgresql",
                db_port: 5432,
                db_schema: "public",
            ),
        )
    ),
    node: Some(
        NodeConfig (
            image: "sugarfunge.azurecr.io/node:latest",
            ws_port: 9945,
            p2p_port: 30335,
            prometheus_port: 9090,
            node_name: "bob",
            chainspec_file_name: None,
            chainspec_ext: None,
            bootnode: Some(
                BootNode(
                    dns_url: Some("sf-node.default.svc.cluster.local"),
                    dns_ip: None,
                    p2p_port: 30334,
                    private_key: "12D3KooWGzN9EZLNkxEVeApishpq8d3pzChPmw9jQ9kra3csTAhk",
                )
            ),
        )
    ),
    status: Some(
        StatusConfig (
            image: "sugarfunge.azurecr.io/status:latest",
            port: 8000,
            node_url: "wss://node.sugarfunge.dev",
        )
    ),
    ingress: Some(
        IngressConfig (
            host: "demo.sugarfunge.dev",
            tls_secret: "sf-ingress-tls",
            tls_issuer: "letsencrypt-staging",
        )
    ),
)
